# Build artifacts and directories
tags
build/
dist/
*.egg-info/
.coverage

# Python cache files
__pycache__/
*.pyc

# PyCharm Project files contain local settings, and so are not appropriate for Git
.project
.idea/
*.dat

# From original pvtools repository
.idea
*.aux.xml
*.pyc
*.lnk
*.vrt
*.qlr
*.sbn
*.sbx
*.qml
*.qgs
rescale.tif
normalise.tif
examples/
snippets/
old/
notebooks/

.pytest_cache/
.vscode/
Pipfile
Pipfile.lock
.python-version
