# Directories to include
# graft pyprecag/tests/data

# Directories to exclude
prune */docs
prune */tests

# Files to include

include pylintrc
include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include CITATION.rst
include LICENSE
include README.md
include pyprecag/config.json
include pyprecag/proj.db

# File patterns to exclude wherever they are found
global-exclude *.py[co] __pycache__ *.so *.pyd
